.root {
  width: 300px;
  padding: 10px;
  font-size: 18px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.root:disabled {
  background-color: rgb(141, 211, 141);
  cursor: no-drop;
}